In [71]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple=("NPower","JDA","Tuesday",30,3,2021)

In [2]:
#Q2 What is the type of myTuple
print(type(myTuple))

<class 'tuple'>

In [3]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [6]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])
print(myTuple[5])
print(myTuple[::])

NPower
JDA
Tuesday
30
3
2021
('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [9]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-1])
print(myTuple[-2])
print(myTuple[-3])
print(myTuple[-4])
print(myTuple[-5])
print(myTuple[-6])

2021
3
30
Tuesday
JDA
NPower

In [10]:
#Q6 what is the type of each value
print(type(myTuple[1])
          )

<class 'str'>

In [11]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year=myTuple
print("Name is",name)
print("Program is",program)
print("DayName is",dayName)
print("Month is",month)
print("Day is",day)
print("Year is",year)

name is NPower
Program is JDA
DayName is Tuesday
Month is 30
Day is 3
Year is 2021

In [13]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2=("Jerry",2,89)
name,program,dayName=myTuple2
myTuple2
#this is a new tuple so the other three variables dont apply here, they will remain the same

('Jerry', 2, 89)

In [12]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'str'>
Ulan
Leul

In [14]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [72]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
#myTuple=reversed(tuple(myTuple))
#myTuple

print(myTuple[::-1])

#due to some error I cannot have the output for this tuple will create a new tuple here and run
# I did the rest of the assignment using a new tuple newTuple even though I was able to fix the error later.

newTuple=(2,3,4,5,6,7,8,9,10)
newTuple[::-1]

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

(10, 9, 8, 7, 6, 5, 4, 3, 2)

In [36]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [37]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [47]:
#Q12 print each element in the nestedTuple
print(nestedTuple[0][0])
print(nestedTuple[0][1])
print(nestedTuple[0][2])

Coursera
course
6

In [48]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [49]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [50]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [51]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [53]:
#Q17 Concatenate myTuple with nestedTuple
#cannot use myTuple because of previous reverse error
exampleTuple= (2,3,4,5,6,7)
myNewTuple = exampleTuple+nestedTuple
myNewTuple

(2, 3, 4, 5, 6, 7, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [56]:
#Q18 add your name to the tuple
myNewList= list(myNewTuple)
myNewList.append("Winnie")
myNewTuple = tuple(myNewList)
myNewTuple

#Tuples are immutable, you cannot add new elements or change elements, so to do this I needed to change the tuple into a list

(2,
 3,
 4,
 5,
 6,
 7,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Winnie')

In [60]:
#Q19 check whether Coursera exists within a myTuple
"Coursera" in myTuple
# NOTE in doesn't work properly with nested tuples # Wrong output
if "Coursera" in myTuple:
    print("Yes")

In [61]:
#Q20 check whether an element exists within a testTuple
testTuple = (4,"Win",5)
"Win" in testTuple

True

In [70]:
#Q21 Find the index of JDA in myTuple
index=myNewTuple.index(5)
print("The index is",index)

# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

The index is 3

In [63]:
#Q22 print index 8 from myTuple
#print(myTuple[8])
print(myNewTuple[8])

Winnie

In [65]:
#Q23 Get the 4th element and 4th element from last of a myTuple
print(myNewTuple[3])
print(myNewTuple[-4])

5
7

In [67]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
count =myNewTuple.count(27)
print("The index is:",count)

The index is: 0